*{
    padding: 0;margin: 0;
}
body{
    background: rgb(236, 220, 240);
}
.booking{
    background-color: rgb(242, 208, 208);
    text-align: center;
    padding: 30px;
    font-size: xx-large;
}


input.form-control,
textarea.form-control,
.input-group-text {
    background-color: #f0e6f6; 
    border: solid palevioletred;     
    
}

input.form-control:focus,
textarea.form-control:focus {
    background-color: #e0d0f0; 
    border-color: palevioletred;     
    box-shadow: 0 0 5px palevioletred;
}


input::placeholder,
textarea::placeholder {
    color: palevioletred;  
}

.DOCTOR{
    gap: 20px;
    border: solid palevioletred; 
    background-color: #f0e6f6; 
}
