*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body{
    background: rgb(236, 220, 240);
}

.booking{
    background-color: rgb(242, 208, 208);
    text-align: center;
    padding: 30px;
    font-size: xx-large;
}

input.form-control,
textarea.form-control,
.input-group-text {
    background-color: #f0e6f6; 
    border: solid palevioletred;     
}

input.form-control:focus,
textarea.form-control:focus {
    background-color: #e0d0f0; 
    border-color: palevioletred;     
    box-shadow: 0 0 5px palevioletred;
}

input::placeholder,
textarea::placeholder {
    color: palevioletred;  
}

.DOCTOR{
    gap: 20px;
    border: solid palevioletred; 
    background-color: #f0e6f6; 
    border-radius: 8px;
    padding: 10px;
}

.Footer{
  background:palevioletred;
  font-size: 22px;
  text-align: center;
  margin-top: 30px;
  margin-right: 25px;
  margin-left: 25px;
}

.button{
  color: rgb(164, 47, 67);
  background-color: rgb(252, 204, 204);
  padding: 12px;
  border-color: palevioletred;
  border-width: 3px;
  width: 180px;
}

.BUTTON{
    display: flex;
    justify-content: center;
    margin-top:  15px;
}

.Paragraph{
    display: flex;
    justify-content: center;
    margin-top: 12px;
    font-size: 18px;
}
