*{
  padding: 0;
  margin: 0; 
}

body{
  background-color: rgb(237, 216, 241);
}

header {
    font-size: 22px;
    text-align: center;
    background-color:  rgb(242, 208, 208);
    padding: 15px;   
}

.Services{
  font-size: 50px;
  text-align: center;
  color: black;
  margin-top: 10px;
}

.card-img-top {
  height: 250px;
  object-fit: cover;
  padding: 20px;
  border-radius: 20px;
}

.card{
  margin: 20px;
  background: rgb(247, 226, 226);
  border-color: palevioletred;
  border-width: 4px;
  display: flex;
  justify-content: space-between; 
  padding: 0 20px;
  left: 35px; 
}

.button1{
  color: rgb(164, 47, 67);
  background-color: rgb(252, 204, 204);
  padding: 12px;
  border-color: palevioletred;
  border-width: 3px;
}

.button2{
  color: rgb(164, 47, 67);
  background-color: rgb(252, 204, 204);
  padding: 12px;
  border-color: palevioletred;
  border-width: 3px;
  width: 150px;
}

.button3{
  color: rgb(164, 47, 67);
  background-color: rgb(252, 204, 204);
  padding: 12px;
  border-color: palevioletred;
  border-width: 3px;
  width: 150px;
  position: relative;
  display: inline-block;

  margin-top: auto;
}
