body {
  background-color:rgb(236, 220, 240);
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
}
header {
    font-size: 22px;
    text-align: center;
    background-color:  rgb(242, 208, 208);
    padding: 15px;
}

p {
  font-size: 50px;
  text-align: center;
  color: black;
  margin-top: 10px;
}

Grooming{
  text-align: left;
}

img{
  width: 300px;
  height: 300px;
}
