body {
  background-color: rgb(236, 220, 240);
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
}
main{
    font-size: 22px;
    text-align: center;
}
