body {
  background-color:azure;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
}
header {
    font-size: 22px;
    text-align: center;
    background-color: lightskyblue;
    padding: 15px;
}

p {
  font-size: 50px;
  text-align: center;
  color: lightskyblue;
  margin-top: 10px;
}

Grooming{
  text-align: left;
}

img{
  width: 300px;
  height: 300px;
}
