*{
  padding: 0;
  margin: 0;
}

header {
    font-size: 22px;
    text-align: center;
    background-color:  rgb(242, 208, 208);
    padding: 15px;   
}

.Services{
  font-size: 50px;
  text-align: center;
  color: black;
  margin-top: 10px;
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}

