body{
    background-color: rgb(187, 104, 191);
    margin: 0px;
    padding: 0px;
}
p{
    color: whitesmoke;
    text-align: left;
    font-size: 22px;
}
nav{
    background-color: rgb(203, 181, 214);
    padding-top: 10px;
}
.name{
    position: relative;
    margin-top: 3px;
    top: -40px;
    font-size: 25px;
    color: black;
    font-weight:bold;
    font-family:'Courier New', Courier, monospace;
    left: 30px;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 45px;
}
li{ 
    align-content:space-evenly;
    list-style: none; 
    font-size: 22px;
}
.CC{
    color: blue
}
.CEM{
    color: aquamarine;
}

