body{
    background-color: rgb(187, 104, 191);
    margin: 0px;
    padding: 0px;

}
p{
    color: whitesmoke;
    text-align: center;
    font-size: 55px;
}

nav{
    background-color: rgb(203, 181, 214);
    padding-top: 10px;
    border-radius: 6px;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 45px;
}
li{ 
    
    align-content:space-evenly;
    padding-left: 20px;
    margin-bottom: 25px;
    list-style: none; 
}

