body{
    background-color: rgb(187, 104, 191);
    margin: 0px;
    padding: 0px;

}
p{
    color: whitesmoke;
    text-align: center;
    font-size: 55px;
}
.login {
    background-color: azure;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 9px;
    text-align: center;
}

.login input{
    font-size: 18px;
    margin-bottom: 30px;
}

.login form{
    padding: 10px;
}

nav{
    background-color: rgb(203, 181, 214);
    padding-top: 10px;
    border-radius: 6px;

}
nav ul{
    display: flex;
}

li{ 
    align-content: normal;
    padding-left: 20px;
    margin-bottom: 30px;
    list-style: none;

}


