body{
    background-color: rgb(200, 113, 200);
}
p{
    color: whitesmoke;
    text-align: center;
    font-size: 55px;
}
.login {
    background-color: azure;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 9px;
    text-align: center;
}

.login input{
    font-size: 18px;
}
