body{
    background-color: rgb(236, 220, 240);
    margin: 0px;
    padding: 0px;
}
p{
    color: whitesmoke;
    text-align: left;
    font-size: 22px;
}
nav{
    background-color: rgb(242, 208, 208);
    padding-top: 10px;
}
.name{
    position: relative;
    margin-top: 3px;
    top: -40px;
    font-size: 25px;
    color: black;
    font-weight:bold;
    font-family:'Courier New', Courier, monospace;
    padding-left: 40px;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 45px;
}
li{ 
    align-content:space-evenly;
    list-style: none; 
    font-size: 22px;
}
.CC{
   
    color: rgb(0, 0, 0);
    padding: 110px;
    padding-top: 90px;
    font-size: 40px;
}

.description{
    color: black;
    font-size: 22px;
}

.CAT{
    display: inline;
}
